.g-config-breadcrumb-container
p.g-hui-description
  | Provides a workflow for redacting metadata and images.
form#g-wsi_deid-form(role="form")
  .form-group
    label(for="g-hui-ingest-folder") Available To Process Folder
    p.g-hui-description
      | The location where new image files are imported and can first be processed.
    .input-group.input-group-sm
      input#g-hui-ingest-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.ingest_folder'] || '',
          title="A folder to store imported items.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-quarantine-folder") Quarantined Folder
    p.g-hui-description
      | If a quarantine folder is specified, users with write access will see a Quarantine button next to items.  When clicked, this moves that item to the quarantine folder and adds metadata to record where it was originally.
    .input-group.input-group-sm
      input#g-hui-quarantine-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.quarantine_folder'] || '',
          title="A folder to store quarantined items.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-processed-folder") Redacted Folder
    p.g-hui-description
      | This is the location that redacted files are moved to upon approval.  They should still be reviewed before release.
    .input-group.input-group-sm
      input#g-hui-processed-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.processed_folder'] || '',
          title="A folder to store redacted items.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-rejected-folder") Rejected Folder
    p.g-hui-description
      | This is the location to move files that cannot be successfully redacted.
    .input-group.input-group-sm
      input#g-hui-rejected-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.rejected_folder'] || '',
          title="A folder to store items that cannot be fully redacted.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-original-folder") Original Folder
    p.g-hui-description
      | When an item is redacted, the original item is moved here so a record of it is kept.
    .input-group.input-group-sm
      input#g-hui-original-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.original_folder'] || '',
          title="A folder to store original items.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-finished-folder") Approved Folder
    p.g-hui-description
      | When an item is fully redacted, it should be placed here to indicate it is approved.
    .input-group.input-group-sm
      input#g-hui-finished-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.finished_folder'] || '',
          title="A folder to store approved items.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-hui-reports-folder") Reports Folder
    p.g-hui-description
      | This is the location where import and export reports are stored.
    .input-group.input-group-sm
      input#g-hui-reports-folder.form-control.input-sm(
          type="text", value=settings['histomicsui.reports_folder'] || '',
          title="A folder to store import and export reports.")
      .input-group-btn
        button.g-open-browser.btn.btn-default(type="button")
          i.icon-folder-open
  .form-group
    label(for="g-wsi-deid-import-path") Internal Import Path
    p.g-hui-description
      | The Import function searches this path for new and changed files.
    input#g-wsi-deid-import-path.form-control.input-sm(
        type="text", value=settings['wsi_deid.import_path'] || '',
        title="The internal path used for importing files.",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-export-path") Internal Export Path
    p.g-hui-description
      | The Export function copies files to this location.
    input#g-wsi-deid-export-path.form-control.input-sm(
        type="text", value=settings['wsi_deid.export_path'] || '',
        title="The internal path used for exporting files.",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-remote-path") Remote Export Path
    p.g-hui-description
      | The Export function transfers files to this location on the remote machine.
    input#g-wsi-deid-remote-path.form-control.input-sm(
        type="text", value=settings['wsi_deid.remote_path'] || '',
        title="The remote path used for exporting files.",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-remote-host") Remote Export Host
    p.g-hui-description
      | Remote address to transfer approved WSIs to.
    input#g-wsi-deid-remote-host.form-control.input-sm(
        type="text", value=settings['wsi_deid.remote_host'] || '',
        title="The remote host to transfer files to.",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-remote-path") Remote SFTP Port
    p.g-hui-description
      | Port for SFTP connections on the remote host.
    input#g-wsi-deid-remote-port.form-control.input-sm(
        type="number", value=settings['wsi_deid.remote_port'] || '',
        title="Remote port for SFTP connections.")
  .form-group
    label(for="g-wsi-deid-remote-path") Remote Export User
    p.g-hui-description
      | Username of a user on the remote host for SFTP transfer.
    input#g-wsi-deid-remote-user.form-control.input-sm(
        type="text", value=settings['wsi_deid.remote_user'] || '',
        title="Username of a user on the remote host",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-remote-password") Remote Export Password
    p.g-hui-description
      | Password for the specified user on the remote host for SFTP transfer.
    input#g-wsi-deid-remote-password.form-control.input-sm(
        type="password", value=settings['wsi_deid.remote_password'] || '',
        title="Password for the user on the remote machine.",
        spellcheck="false")
  .form-group
    label(for="g-wsi-deid-sftp-mode") SFTP Mode
    p.g-hui-description
      | Controls behavior of the export function
    select#g-wsi-deid-sftp-mode.input-sm
      option(value='local', selected=(settings['wsi_deid.sftp_mode'] === 'local')) Local export only
      option(value='remote', selected=(settings['wsi_deid.sftp_mode'] === 'remote')) Remote (SFTP) transfer only
      option(value='both', selected=(settings['wsi_deid.sftp_mode'] === 'both')) Local export and remote transfer
  .form-group
    label(for="g-wsi-deid-ocr-on-import") Find Label Text on Import
    p.g-hui-description
      | Kick off a local job to find label text on new images during an import
    input#g-wsi-deid-ocr-on-import.input-sm(type="checkbox", checked=(settings['wsi_deid.ocr_on_import'] ? "checked" : undefined))
  .form-group
    label(for="g-wsi-deid-export-fields") Export Data
    p.g-hui-description
      | A comma-delimited list of upload metadata fields to be included in the export report
    input#g-wsi-deid-export-fields.form-control.input-lg(
      type="text", value=settings['wsi_deid.export_fields'] || '',
      title="List of uploda metadata fields to be exported",
      spellcheck="false")
  p#g-hui-error-message.g-validation-failed-message
.g-hui-buttons
  button#g-hui-save.btn.btn-sm.btn-primary Save
  button#g-hui-cancel.btn.btn-sm.btn-default Cancel
